[submodule "src/UitkForKsp2.Controls/UitkForKsp2Unity/Packages/uitkforksp2.controls"]
	path = src/UitkForKsp2.Controls/UitkForKsp2Unity/Packages/uitkforksp2.controls
	url = https://github.com/UitkForKsp2/UitkForKsp2.Controls
