*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings
mono_crash.*
*.dll
!ksp2_uitk/lib/*.dll
.idea/
nuget/
Debug/
Release/
ksp2_uitk/LICENSE
ksp2_uitk/README.txt
ksp2_uitk/assets/bundles/kerbalui
external_dlls/*
!external_dlls/COPY_GAME_DLLS_HERE
KSP2UITKProject/[Dd]ebug/
KSP2UITKProject/[Dd]ebugPublic/
KSP2UITKProject/[Rr]elease/
KSP2UITKProject/[Rr]eleases/
KSP2UITKProject/x64/
KSP2UITKProject/x86/
KSP2UITKProject/[Aa][Rr][Mm]/
KSP2UITKProject/[Aa][Rr][Mm]64/
KSP2UITKProject/bld/
KSP2UITKProject/[Bb]in/
KSP2UITKProject/[Oo]bj/
KSP2UITKProject/[Ll]og/
KSP2UITKProject/[Ll]ogs/
UITKPatcherProject/[Dd]ebug/
UITKPatcherProject/[Dd]ebugPublic/
UITKPatcherProject/[Rr]elease/
UITKPatcherProject/[Rr]eleases/
UITKPatcherProject/x64/
UITKPatcherProject/x86/
UITKPatcherProject/[Aa][Rr][Mm]/
UITKPatcherProject/[Aa][Rr][Mm]64/
UITKPatcherProject/bld/
UITKPatcherProject/[Bb]in/
UITKPatcherProject/[Oo]bj/
UITKPatcherProject/[Ll]og/
UITKPatcherProject/[Ll]ogs/