*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings
mono_crash.*
.idea/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
nuget/
*.dll
!plugin_folder/lib/*.dll
plugin_folder/assets/bundles/*
!plugin_folder/assets/bundles/PLACE_kerbalui_HERE
external_dlls/*
!external_dlls/COPY_Assembly-CSharp_dll_HERE