
[submodule "src/SpaceWarpUI"]
	path = src/SpaceWarpUI
	url = https://github.com/jan-bures/SpaceWarpUI
[submodule "src/UitkForKsp2.Controls/Unity"]
	path = src/UitkForKsp2.Controls/Unity
	url = https://github.com/jan-bures/UitkForKsp2.Controls.git
