[submodule "src/UitkForKsp2.Unity/UitkForKsp2.Unity/Packages/uitkforksp2.unity"]
	path = src/UitkForKsp2.Unity/UitkForKsp2.Unity/Packages/uitkforksp2.unity
	url = https://github.com/UitkForKsp2/UitkForKsp2.Unity
